[2021-03-01 13:27] ilibarra opened #3 "One tool = one environment?"
Hi @LuckyMD and @danielStrobl,

I am interested in setting up a one-environment per R package set of environments (e.g. scIB-R-integration-liger, scIB-R-integration-fastmnn, etc). This is for avoiding multi-package conflicts with some tools that I think could be solved if isolating and treating manually each tool.

I think this is a reasonable idea to avoid multi-tool conflicts within the same env

[2021-05-24 15:50] nrclaudio opened #5 "KeyError: 'connectivities'"
Hi,

After installing both environments I've been trying to run the pipeline with the test data as suggested. However one of the metrics rules breaks.

[code]

This is the error inside that rule:

[code]

Any idea how to troubleshoot this?

[2021-05-24 18:35] nrclaudio commented on #5
Just for completion, _some_ versions:

[code]

[2021-05-24 18:50] LuckyMD commented on #5
This looks like an issue that is caught between an older scanpy version (that we initially used) and code that was adapted to work with an updated scanpy. Basically, from `scanpy 1.5.0` the connectivities are stored in `adata.obsp['connectivities']`. We adapted the `scIB` code to use this slot a couple of months ago. You are using `scanpy==1.4.6` which doesn't store the connecitivities in this slo

[2021-05-25 10:55] nrclaudio commented on #5
bbknn.h5ad keeps giving the same error after updating to `scanpy 1.5.0`. I suspect of `anndata 0.7.1`, I believe the transition to `obsp` was introduced in `0.7.2.` Will come back later today to report if updating `anndata` solves the issue.

[2021-05-25 14:23] #5 closed

[2021-05-25 22:09] LuckyMD commented on #5
I'm assuming updating worked then @nrclaudio ?

[2021-05-25 22:14] nrclaudio commented on #5
Yes, updating to `anndata 0.7.7` worked.

[2021-05-25 22:22] LuckyMD commented on #5
thanks for adding the solution here :)

[2021-06-17 22:04] wkopp opened #7 "Suspected issue with scanpy version"
Hi @LuckyMD ,

I ran into an issue using the snakemake pipeline which I suspect might be due to a bug in scanpy.

I tried to run the pipeline on the test dataset using `snakemake --configfile configs/test_data.yaml`.
Running the rule `metrics_single` failed with

[code]

Suggesting that something failed when creating the neighborhood graph.

Then I did

[code]
Which results in the following AnnDat

[2021-06-17 22:51] LuckyMD commented on #7
Hi Wolfgang,

Thanks for pointing this out. It is already noted in issue [242](https://github.com/theislab/scib/issues/242) on the scIB github. I should be bumping scanpy requirements to >=1.5 and anndata to >=0.7.2

[2021-06-18 14:36] LuckyMD commented on #7
Updated now via
https://github.com/theislab/scib/pull/243

[2021-06-18 14:36] #7 closed

[2021-07-21 02:43] szhang99-bu opened #8 "Issue with running snakemake"
I am currently all set up according to the instruction, then should we run snakemake in the base environment?
If so, when I am running the pipeline for either my own data or the test data, a syntax error occurs:

SyntaxError:
Input and output files have to be specified as strings or list of strings/
        xxxxxx/xxxxx/xxxxxx/ scib-pipeline/Snakefile, line 10, in module
        xxxxxx/xxxxx/xxxxx

[2021-07-21 06:26] szhang99-bu opened #9 "Issue with the pipeline"
I am currently all set up according to the instruction, then should I run Snakemake in the base environment or scib-python?
However in either environment, when I am running the pipeline for either my own data or the test data, a syntax error occurs:

SyntaxError:
Input and output files have to be specified as strings or list of strings/
xxxxxx/xxxxx/xxxxxx/ scib-pipeline/Snakefile, line 10, in mod

[2021-07-21 08:48] LuckyMD commented on #8
I'll close this as a duplicate of #9 which I transferred from scIB.

[2021-07-21 08:48] #8 closed

[2021-07-21 08:50] szhang99-bu commented on #9
Here is my config.yaml file:
I've only changed the batch key and label key name to correlate with my own data.

ROOT: data
r_env : scIB-R-integration
py_env : scIB-python

timing: false
unintegrated_metrics: false

FEATURE_SELECTION:
  #hvg: 2000
  full_feature: 0

SCALING:
  - unscaled
  #- scaled

METHODS:
# python methods
  bbknn:
    output_type: knn
  combat:
    output_type: full
  #desc:

[2021-07-21 08:57] LuckyMD commented on #9
Could you put the full file path into `file:` that goes from root? I'm curious if this might change something. Otherwise, any ideas @mumichae ?

[2021-07-21 09:30] mumichae commented on #9
This should be working with relative paths, at least it was for me. Could repost your config in code notation i.e. ussing ``` before and after the file contents? That way we can see whether the formatting could be the problem

[2021-07-22 05:28] szhang99-bu commented on #9
Also, should we installed the Seurat and scran packages via Bioconda or using BiocMananger inside the R environment. Since I was not able to successfully install anything via BiocManager

[2021-07-22 10:07] mumichae commented on #9
I know R installation is a bit annoying, especially with the R version in the env being fixed at 3.6. I'm currently trying to get PR #6 merged, which should make pipeline setup much easier and has an install script for most R packages. Feel free to check out that branch https://github.com/theislab/scib-pipeline/tree/update_scanpy and let me know whether that solves some of your problems

[2021-07-28 05:30] szhang99-bu commented on #9
Hi mumichae!
So I've been using the new pipeline and it certainly has been much more easier compare to before! Thanks for all the changes. However, it seems that the Rscript has some error in it. Were you able to install all the packages using the Rscript?
`Skipping 3 packages not available: multtest, rsvd, SDMTools
Installing 117 packages: ape, askpass, BH, bitops, caTools, cli, cluster, colorspa

[2021-07-28 09:32] LuckyMD commented on #9
Hi @szhang99-bu,
It seems that you might be on windows where R 4.0 is not yet available. I think we don't have an installscript specifically for `R<4.0` at the moment. Could you check if that's easy to adapt @mumichae ? Otherwise you might need to wait for MRO to support version 4.0.

[2021-08-03 19:54] anikaliu opened #10 "Pipeline error with test data related to metrics.py"
Hello,
I'm having trouble running the pipeline with the test and it seems to get stuck at the rule `metrics_single `which executes
`conda run -n scIB-python python scripts/metrics/metrics.py -u data/adata_norm.h5ad -i /data/al862/scib_pipeline/data/test_data/integration/unscaled/full_feature/scanorama.h5ad          -o /data/al862/scib_pipeline/data/test_data/metrics/unscaled/full_feature/scanorama

[2021-08-05 17:18] LuckyMD commented on #10
Hi @anikaliu,

Sorry for the delayed reply here. This looks like something we have encountered before and should work. Could I ask which version of scanorama you are running? It seems that you have more cells after integration than before.

Have you compared the `/data/al862/scib_pipeline/data/test_data/integration/unscaled/full_feature/scanorama.h5ad` output to your input data file? Are there any

[2021-08-05 17:53] mumichae commented on #10
Also, which version of scanorama are you using?

[2021-08-06 14:11] anikaliu commented on #10
Hi @LuckyMD,
thanks for your reply! I hadn't checked any of the things you mentioned but have done it now:

- The scanorama version is 1.7 (through bioconda).
- The number of cells per batch is identical in the input and output h5ad (also for `adata_output.obsm['X_scanorama'] `)
- There aren't any cells without expressed genes in the input object

Please let me know if there's anything else I can

[2021-08-06 14:22] LuckyMD commented on #10
Hmm... and the `adata.obs['batch']` before and after integration are exactly the same?

[2021-08-06 14:51] mumichae commented on #10
There only time we encountered this error was when `scanorama` overwrote the batch column in `adata.obs`, which should have been fixed in version 1.7. Are you checking the version in the `scIB-python` environment?

Another thing you could try is switching to the [update_scanpy](https://github.com/theislab/scib-pipeline/tree/update_scanpy) branch and setting up the environments `scib-pipeline` and

[2021-08-13 08:53] anikaliu commented on #10
I've re-run after deleting the intermediate files now and noticed that actually the batches are mixed up! I hadn't noticed it because the frequencies were the same. I've now checked that the same samples are still in the same batch, so it's only the batch IDs are somehow different.. does this information help somehow?

[2021-08-13 10:26] mumichae commented on #10
Yes, it sounds very much like a bug that was in an older scanorama version. In the unintegrated adata  object (`adata_norm.h5ad`) what data type does the batch column have? It should be categorical or String, but not integer.

Could you also confirm that you are checking the scanorama versions in the `scIB-python` environment (or `scib-pipeline` environment, if working on #6 ) and/or whether you'r

[2021-09-08 16:59] zia1138 opened #11 "data sets available?"
Great job on the scib pipeline. I imagine it was a big headache getting all of these methods to work. I was wondering if the benchmark data set h5ad files were available for download? They seem to be hard coded in config/reproduce_paper.yaml  Thanks!

[2021-09-08 17:04] LuckyMD commented on #11
Hi @zia1138,

The data are all on the figshare here: https://figshare.com/articles/dataset/Benchmarking_atlas-level_data_integration_in_single-cell_genomics_-_integration_task_datasets_Immune_and_pancreas_/12420968

This is in the revised manuscript... that should be out soon I hope :). We should probably also add this to the README... @mumichae could you add the link?

[2021-09-08 17:15] zia1138 commented on #11
No hurry on my end.  Thank you again for the great work. It's nice to see a careful evaluation of all of these approaches.

[2021-09-09 10:28] LuckyMD commented on #11
Thanks :).

[2021-09-16 18:17] mumichae commented on #10
@anikaliu Did you resolve your issue or are you still getting mixed-up batches with scanorama 1.7?

[2021-09-23 20:20] anikaliu commented on #10
Really sorry for not getting back to you! I haven't been able to sort it but also haven't tried it with the update_scanpy branch yet. I will be trying what you suggested, but it might take me a while to get to it. (Totally understand if you prefer to close the issue for now)

[2021-11-19 14:46] bugneville opened #14 "R 4 support?"
Plans to get this working with R 4+ anytime soon?  Also, possible to have `snakemake` generate the conda environments (e.g., [bollito](https://gitlab.com/bu_cnio/bollito))?

[2021-11-20 14:57] mumichae commented on #14
Hi, moving to R 4.0 is a good idea, we just kept it at 3.6 to ensure that we're working with the same version of the tools.

As for conda environments, I'm afraid using the environment yaml approach is difficult, because we also need R dependencies that cannot be installed with conda. External images might work though.

I'll look into this in the upcoming weeks and let you know what we decide on.

[2021-11-20 15:01] #11 closed

[2021-11-21 11:30] bugneville commented on #14
Glad to hear R 4 support is on the table -- would singularity images be helpful (e.g., maybe what you meant by external images)?

[2022-01-03 08:40] cquzys opened #16 "Hi authors"
Great works.

[2022-01-03 08:41] #16 closed

[2022-02-06 19:51] DylanTom opened #17 "Error Running Pipeline"
TLDR: Error running pipeline, `ModuleNotFoundError: No module named 'scIB'`

I tried running this pipeline (using the included test data) and followed the instructions in the `README`. When I get to the section, `Running the Pipeline` and run the command `snakemake --configfile configs/test_data.yaml  --cores 6` it crashes. Attached is the traceback. The command `snakemake --configfile configs/tes

[2022-03-03 16:03] mumichae commented on #9
Sorry for the late reply, I hope this answer will help.
So far the pipeline has only been tested on R 3.6, and with time problems arise when installing via R. Installing the conda version of the missing packages usually did the trick for me. Also all the `update_scanpy` changes should be in the main branch by now

[2022-03-09 16:58] #10 closed

[2022-03-21 21:53] johnarevalo opened #19 "Why graph connectivity is considered a Batch correction metric?"
By reading the description in [[Luecken, 2022]](https://www.nature.com/articles/s41592-021-01336-8) and the [implementation](https://github.com/theislab/scib/blob/main/scib/metrics/graph_connectivity.py#L6), graph connectivity metric only considers biological information (`label_key`).  However, the website and the paper present it as a "batch correction" metric.
<img width="802" alt="image" src="

[2022-03-22 09:41] LuckyMD commented on #19
Hi @johnarevalo,

You are correct that graph connectivity only uses label information, and somewhat blurs the line between batch removal and bio conservation. We regard the metric as a batch removal metric as it assesses whether batch effects have been removed in the embedding so that cell identities are connected in the integrated knn graph. This connectivity only assesses whether cells of the sa

[2022-03-22 16:34] #19 closed

[2022-03-24 13:48] mumichae commented on #9
Hi @szhang99-bu,
are you still facing issues with the environments or has it been resolved?

[2022-03-24 13:53] mumichae commented on #17
The pipeline should now be updated to use the new scib package. Will close this issue

[2022-03-24 13:53] #17 closed

[2022-03-29 14:42] LuckyMD opened #23 "Installation issues that need fixing"
Things to improve installation experience:
* [x] pin rpy2 3.4.2
  * install specifically via conda (if possible)
* [x] scib: try-except around ro.r('library(Seurat)’) to report that library installs were problematic
* README:
  * [x] Add “This is a 3-5 step installation” to give overview of long installation section-> add links to sections
  * [x] remove details, improve flow
  * [x] First have sm

[2022-03-29 14:43] LuckyMD commented on #23
@mumichae I will take a look at the README, maybe you could take a look at the first 2 steps

[2022-03-30 17:19] Hrovatin commented on #23
@mumichae
The below also causes issue for me:
[code]

[2022-03-30 17:51] mumichae commented on #23
@Hrovatin Are you using shell or bash? Maybe try with
[code]

[2022-03-30 19:25] Hrovatin commented on #23
That worked, thanks.

[2022-04-01 12:14] szymczakpau opened #24 "Solving env with conda causes memory usage explosion"
Hi!

I tried setting up _scib-pipeline_ with conda and solving env causes OOM on my 32G RAM machine.

![image](https://user-images.githubusercontent.com/47643690/161258216-dc1c051a-aa3e-46b1-ae6c-07da5555e819.png)

Is this something that you have experienced?
I am currently trying to run this on machine with 125G RAM, but it takes a really long time (more than 1 hr as of now).

[2022-04-01 12:18] mumichae commented on #24
Hi, try using mamba, it should be a lot more time and memory efficient.
https://mamba.readthedocs.io/en/latest/installation.html

i.e. after installing mamba into the conda base environment, run
[code]

[2022-04-01 12:36] szymczakpau commented on #24
It works! I saw your note in README on speeding up time with mamba, but didn't know it also affect memory performance! Thanks!

[2022-04-01 12:36] #24 closed

[2022-04-01 16:36] mumichae commented on #23
Which environment is that from?

[2022-04-01 16:37] mumichae commented on #23
@LuckyMD I just checked the code and calling Seurat via rpy2 is something that is only done in the scib package. Are points 1 and 2 also something you want reflected in the scib package?

[2022-04-04 10:40] LuckyMD commented on #23
Yes, i think that would be useful.

[2022-04-04 14:52] Hrovatin opened #26 "Generated test data not readable"
I generated test data but get the bellow error when trying to read it.

[code]

[2022-04-04 20:55] Hrovatin commented on #26
Yes, I created in same env.
Also, runPP errors out as 2 mean and std (from hvg) are added to adata, which can not be saved due to repeated var cols.

[code]

[2022-04-05 09:44] mumichae commented on #26
Could this be related? https://github.com/scverse/scanpy/issues/1351

[2022-04-05 09:55] mumichae commented on #26
Also, from what I can see in the stacktrace, you seem to be in the `rpy2_3` environment. Does the same thing happen when you read the object in scib-pipeline?

[2022-04-05 10:27] Hrovatin commented on #26
Ah yes, I was doing it from jupyter so it used the wrong R env (the one from where jupyter was started, not the one I was using for the kernel). Solved now.

[2022-04-05 10:27] #26 closed

[2022-04-19 13:46] stemangiola opened #28 "TypeError: int() argument must be a string, a bytes-like object or a number, not 'NAType'"
I receive this error (below my snakemake config)

I don't know how to debug this, or understand what is going on.

Thanks a lot.

[code]

snakemake config

[code]

[2022-04-19 14:14] stemangiola commented on #28
I think I uderstood that some R package are missing (although the error does not say)

The problem is that conda is using R 4.0.5 rather than 4.1.0

[code]

How can I create the environment pointing to more recent versions of R?

Thanks

[2022-04-19 14:20] mumichae commented on #28
Hi @stemangiola,

Could you try pinning the rpy2 version to `rpy2=3.4.2` in the `envs/scib-pipeline-R4.yml`?
Then update the environment via

[code]

That should fix the issue when using R 4.0

[2022-04-19 14:32] stemangiola commented on #28
Thanks,

- I don't have rpy2 in the yml (the one it's in github). Should I add it?
- Should I edit also scib-R4.yml in the same way?
- Why do I have to create two separate environment (It a bit confusing as R directory is present in both, so which of those the snakemake uses for executing R?)

Thanks

[2022-04-20 11:11] stemangiola commented on #28
Thanks seems to have worked!

I had to manually install `install.package("SeuratObject")` at

.conda/envs/scib-pipeline-R4/lib/R/bin/R

otherwise I get error in the snakemake with package not found. How can automate this in the conda config?

[2022-04-21 08:16] mumichae commented on #28
Hm, that is interesting. For me, the SeuratObject is already installed using conda. Could you double-check to make sure you are working with the correct libraries?

[code]
The output should only be the  conda library path

[2022-04-21 08:19] stemangiola commented on #28
Hello,

here the output

[code]

[2022-04-21 08:21] mumichae commented on #28
Ok, seems correct. I'll add the SeuratObject dependency to the conda yaml file to be safe.

[2022-04-21 08:21] #28 closed

[2022-04-22 13:38] stemangiola opened #29 "from SingleCellExperiment to pipeline"
Hello,

sorry to bother again.

I am trying to start the pipeline from a R dataset.

[code]

All this works

my pipeline is

[code]

What I don't understand is the error

[code]

do data found in assay counts, that seems strange

[code]

[2022-04-23 10:50] #29 closed

[2022-04-25 12:06] stemangiola opened #30 "Pipeline works on your test dataset but fails for experimental dataset - ValueError: Bin edges must be unique: array"
Hello,

I managed to complete the pipeline with your provided test dataset, however I get errors with my experimental dataset. One of them is below in the metrics step

[code]

[code]

[2022-04-26 13:12] stemangiola commented on #30
Thanks @LuckyMD ,

I have filtered only the 2000 most variable gene before using the pipeline, however, the error remains (also with other errors of integration algorithms, quite cryptic). Again, *everything works with your test dataset*

I can provide this troubleshoot dataset, so you have the opportunity of making the pipeline more robust to third-party input datasets (maybe with user-friendly e

[2022-04-27 13:35] stemangiola commented on #30
Hello,

I managed to complete the pipeline. I had to filter heavily all genes with median abundance > 0 across cells, although present in many cells (I have ~60k cells).

I was left with ~500 genes. I will test how relaxed I can be in the filtering, however it seems a bit strange that 2000 variable genes with which I can perform Seurat analyses with no problem, are not transcribed enough for the c

[2022-04-28 10:06] LuckyMD commented on #30
Agreed that this shouldn't be the case. The error occurs within the `sc.pp.highly_variable_genes()` function from scanpy. This runs highly variable genes per batch. It must be the case that in one of your batches many of your 2000 genes are very lowly expressed and therefore you can't compute the highly variable genes in that batch based on mean filtering. You can either subset to genes that are h

[2022-04-28 14:30] mumichae commented on #30
Hi @stemangiola,

just another thing I wanted to ask about your data, since it wasn't explicitly stated in the README. The pipeline expects log scaled data, so are you working with normalised and log-transformed data? If not, I could imaging that being the cause of the duplicate bins during HVG computation.

[2022-04-28 14:50] stemangiola commented on #30
Thanks,

Reading the test data you provide with the data simulation script, I see that there are 2 assays: X and counts and they are identical. Does it sound right?

The distribution of the counts is not logaritmic

[code]

so I used this data of yours directly.

____________________________

Now I understand this might be wrong. So what steps do I have to do exactly?

- integer counts as raw data

[2022-04-28 15:14] mumichae commented on #30
You're correct, the test data hasn't been log-scaled. I'll fix that.

As for preprocessing, we recommend QC, normalisation when you have multiple batches, and log1p transformation, as described in the [Best practices for scRNAseq analysis](https://www.embopress.org/doi/full/10.15252/msb.20188746) ([tutorial](https://github.com/theislab/single-cell-tutorial)). For normalisation across samples, you

[2022-04-29 09:46] stemangiola commented on #30
Thanks.

I encounter another error that pops in and out without clear reason (given the lack of changes in the input)

[code]

Do you have idea about the reason?

[2022-04-29 14:43] mumichae commented on #30
Yes, I got that error too. This is a bug in scib's LISI function, when printing the warning about not having enough neighbours. I'm currently addressing it [here](https://github.com/theislab/scib/pull/302)

[2022-04-29 14:50] #9 closed

[2022-04-29 16:43] mumichae commented on #30
scib 1.0.2 is out now and should have fixed that bug

[2022-04-29 16:43] #30 closed

[2022-05-03 14:52] stemangiola opened #32 "Buffer has wrong number of dimensions (expected 1, got 2)"
Hello,

I uncommented
[code]
and
[code]
And I get this new error. Any ides of the reason?

Thanks.

[code]

[2022-05-03 21:49] MxMstrmn commented on #32
Hi @stemangiola,

Super interesting that you got this error. I got this error myself earlier today and fixed it here: https://github.com/theislab/scib/pull/306

Long story short: For some reason, the `adata.var` DataFrame contains multiple columns with the same name which prevents concatenation, check [scib/integration.py](https://github.com/theislab/scib/blob/985d8155391fdfbddec024de428308b5a57ee

[2022-05-05 13:34] t-nol opened #33 "Setting environnement variables"
Hi,
I'd like to start by saying I am relatively new to bioinformatics and might just be missing something obvious, thank you for your patience.

1. I'd like to run this pipeline  but i can't seem to install the additionnal R packages needed. I've set the environment variables manually as was written in the ReadMe :

[code]

But when i try to install packages i get the following message :

[code]

[2022-05-05 16:06] mumichae commented on #33
Hi @t-nol ,

That's correct, the .libPaths() needs to be the conda path in order to work with the conda environment. Just to make sure, are you replacing `<conda-prefix>` with your actual environment path? And do you get any errors when you set the environment variables or activate/deactivate the environments?

[2022-05-05 16:14] t-nol commented on #33
@mumichae
Yes I did replace `<conda-prefix>` by the environment path. Both `activate.d/env_vars.sh` and `deactivate.d/env_vars.sh` files exist and contain the same code as `env_vars_*.sh` files provided in the `envs/` directory.
No i haven't seen any errors while activating/deactivating the environments.

[2022-05-11 12:27] mumichae commented on #33
Sorry for the late reply. I updated the repository to include a single-command installation script and renamed the environment names. If you're still setting up the environments, I switch to the latest update.

To your issue: could you also double-check which R instance you're using (I assume you also have a system-wide R installation that might be competing with the conda installation)

e.g.
[cod

[2022-05-11 12:35] mumichae commented on #23
rpy2 library loading checking is addressed in `scib` and all other suggestions have been applied in #20

[2022-05-11 12:35] #23 closed

[2022-05-11 12:38] t-nol commented on #33
No problem, thank you for taking the time.

I've been busy myself and haven't managed to set up the environments. There is a system wide version of R installed so this might be it.
I will try using the updated version, in the meantime here is what i get for the scib-R4 env :
[code]

[2022-05-11 13:51] t-nol commented on #33
So.. I've tried installing the updated version with the single-command installation script. Both environnement were created but I still get this error after :
[code]

I'm guessing it's still not the right R library that is being used in the conda environments. The cluster I'm working on has the version 3.6.0 of R installed but i tried switching to R version 4.1.1 and still got the same message. An

[2022-05-11 14:40] mumichae commented on #33
Yes, I think it's still the same issue. Could you check any variables that R uses, such as R_HOME etc.?

[2022-05-11 14:57] t-nol commented on #33
Here's what i tried :
- in the scib-R4.0 environment :
[code]

- in the scib-pipeline-R4.0 env :
[code]

R_LIBS and a few others do not seem to be defined. I am not very familiar with the way R works so if there are any others you'd want me to check please let me know.

[2022-05-12 09:15] t-nol commented on #33
Hi. I've found the origin of my problem. I had an old .Rprofile file in my home directory which directed the $R_LIBS to the wrong library. I don't know why i didn't try this first but i realised it after using `.libPaths()` in R in the scib-R4.0 environment and seeing that the conda R library i wanted was in 2nd position. After removing this file from my home directory i was able to set the enviro

[2022-05-12 09:15] #33 closed

[2022-05-12 10:12] mumichae commented on #26
I think there might have been some API changes in `anndata` so that files written in one version cannot be read in another

[2022-05-12 14:53] t-nol opened #34 "Error when running snakemake"
Hi. As with my precedent issue, this is probably an error linked to the system I work on but I am hoping someone will have an idea as to why this is happening.

I have set up the R4.0 environments and wanted to run it on the test data generated with the `generate_data.py` script provided in the data directory. The dry run `snakemake --configfile configs/test_data-R4.0.yaml -n --use-conda` works fi

[2022-05-13 00:18] #32 closed

[2022-05-13 02:18] stemangiola commented on #32
If it's possible to link here the pull request to this issue, would be awesome, so I will know when this change will be integrated.

Anyway thanks a lot for the change.

[2022-05-13 06:45] MxMstrmn commented on #32
The PR was just merged, see
[here](https://github.com/theislab/scib/issues/310) and
[here](https://github.com/theislab/scib/pull/306)

On May 13, 2022, Michaela Mueller ***@***.***> wrote:

—
Reply to this email directly, view it on GitHub
<https://github.com/theislab/scib-pipeline/issues/32#issuecomment-
1125591088>, or unsubscribe
<https://github.com/notifications/unsubscribe-
auth/AF6VGRMORXAK4

[2022-05-13 20:17] mumichae commented on #34
Hi, it seems as though Seurat is not installed. Have you tried rerunning the installation script again? That should update the environments after failed tries.

Btw, `--use-conda` should not be necessary, since the pipeline doesn't create conda environments from the yaml files, but instead uses the pre-installed conda environments. This is mainly due to rpy2 and wrong library path issues.

[2022-05-16 07:01] t-nol commented on #34
I thought as much but i couldn't launch the script without adding `--use-conda`. I'll try rerunning the installation script.

[2022-05-16 07:36] t-nol commented on #34
So, rerunning the script did not help. It basically tells me that all required packages are already installed (for both conda and pip installed packages).
Here is what happens when i try launching the script from the scib-pipeline-R4.0 env :
[code]
However when I open R from this same environment and look at the .libPaths() :
[code]
I have no idea why this is happening..

[2022-05-16 19:28] mumichae commented on #34
The .libPaths looks fine. Not quite sure why the error pops up, seeing that you didn't specify any conda flags on the command. Could you try to see if a minimal example in snakemake works? https://snakemake.readthedocs.io/en/stable/tutorial/short.html

[2022-05-17 06:43] t-nol commented on #34
If you're reffering to the ~ at the start of the path i replaced some personal ids with it.
I'll try that, thank you for your help!

[2022-05-17 15:35] t-nol commented on #34
Hi again,
So the need to use the --use-conda flag seems linked to a few variables set by the admin of my system that I was not made aware of. This shouldn't however be responsible for the problems I am meeting with the library paths. I will try and see if I can find out where this is coming from but the admin I have asked doesn't know either what could be causing this.

[2022-05-17 15:40] mumichae commented on #34
Regarding the libpaths, it might that the script was having issues detecting the conda prefix path and using $HOME instead. I suggest you [set these variables manually](https://github.com/theislab/scib-pipeline/tree/main/envs#2-setting-environment-variables) for both variables.

[2022-05-28 15:51] littleju714 opened #37 "error when running pipeline with test data"
Hi, thanks for your excellent work! It really helps me because I'm new in bioinformatics.

There is one error when I'm running the pipeline with the test data. I clone your git on my server. After generting the test data,  the  data_norm.h5ad_  is right under the _scib-pipeline/data_ directory. Then I go back to the _scib-pipeline_ directory, I run

 but it comes with following reports. I don't kn

[2022-05-28 17:46] mumichae commented on #37
Hi, this seems to look fine, no errors were produced and the input file was found. You just did a dry run that reports all the steps that will be done. You should be ready to go on with executing the steps. Just remove the -n option and add a -c with the number of cores you want to provide, e.g. -5 if you want to use 5 cores

[2022-05-28 17:52] mumichae commented on #34
Hi, please let me know if you're still facing any issues otherwise we can close this issue.

[2022-05-28 18:32] littleju714 commented on #37
Thank you so much! It confused me whole day! But I seem to encounter another error with the cores step.

The error goes like below, and it pops up serveral times for different jobid.

[code]

[2022-05-28 18:48] littleju714 commented on #37
Thank you so much! It confused me whole day! But I seem to encounter another error with the cores step.

The error goes like below, and it pops up serveral times for different jobid.

[code]

[2022-05-29 06:00] t-nol commented on #34
Hi, sorry for not getting back to you. I didn't find the time to get back to this issue. But seeing as this is clearly linked to the system I am working on i'd say we can close this issue.
Thank you for your help.

[2022-05-29 06:00] #34 closed

[2022-05-29 16:28] littleju714 opened #38 "error goes with test data"
Hi! Thank you so much for explaining the dry try step. But it goes wrong when I apply this:

The metrics step breaks several times at different jobid like other issue, but the key error seems different with them.

[code]

[2022-05-29 16:29] littleju714 commented on #37
Thank you so much!!!! It really confuses me the whole day!

[2022-06-05 23:36] stemangiola opened #39 "conda - /lib64/libstdc++.so.6: version `GLIBCXX_3.4.29' not found"
Hello,

I reinstalled `scib` within my conda environment `scib-pipeline-R4`

If I enter my environment

[code]

And execute

[code]

I get the below error. How can I make python 3.7 in this environment to find all GLIBCXX it needs? Thanks!

(my IT support says it's all about the conda environment and not something they can fix from outside).

[code]

[2022-06-20 05:20] stemangiola commented on #39
Hello, I was wondering if you have any advice on this.

[2022-06-20 05:28] stemangiola commented on #39
I was wondering if you had any advice

[2022-06-20 08:14] mumichae commented on #39
Hi,
This error is likely related to the following [issue](https://github.com/theislab/scib/issues/308). Try to install scib from github manually into the environment. That way it should be compiled on your system and work.

[2022-06-21 03:03] #39 closed

[2022-06-21 16:45] huawen-poppy opened #40 "trouble in running the scib-pipeline"
Hello. Thank you for the great tools! Recently I am trying to run the pipeline on the test dataset on the slurm clusters. However, it turns out errors, stating that:

[code]

It seems like the system can not distinguish conda run command. But I tried to run the conda run command, it successfully run the process without any errors.

[code]

Could you please help me fix the conda run problem in snak

[2022-06-27 15:24] cdiaz45 opened #41 "from_scvi_model"
Hello,
Thank you for the documentation and all the work you have done on integration.

I find that an error occurs when running scvi. The error is right at the end of the process and it appears to do with "TypeError: from_scvi_model() missing 1 required positional argument: 'unlabeled_category'"
When I comment out the scvi from the config, the whole pipeline seems to work fine.
Have you encountere

[2022-06-27 20:01] #37 closed

[2022-06-28 06:31] LuckyMD commented on #41
Hi!

We recently updated the scvi code in the repo (last week), so this must be a bug we missed. It sounds like just a parameter naming mismatch. Which version of scvi-tools do you have in your environment?

[2022-06-28 10:22] cdiaz45 commented on #41
Hello, the version I have seems to be the latest. scvi-tools in /home/ubuntu/miniconda3/envs/scib-pipeline-R4.0/lib/python3.7/site-packages (0.16.4). However, I wonder if the python version is the issue. When I start python and try to import the scvi, it gives me an error to do GLIBCXX_3.4.30. I have tried many ways to update to GLIBCXX_3.4.30, but haven't been able to. But then, equally, not sure

[2022-06-28 10:58] cdiaz45 commented on #41
Also maybe related or unrelated. If I set up a new environment for scvi as in the docs: conda create -n scvi-env python=3.9, but I install with conda forge, I get import problems. I can avoid those problems by using pip install scvi-tools. So I will try to install scvi with pip in the scib-pipeline-R4.0 just to check. The error when I use conda forge: (ImportError: /home/ubuntu/miniconda3/envs/scv

[2022-06-29 22:55] littleju714 commented on #41
Hi, I also got the same error. I tried to revise this file:

"unknown_category" to "unlabeled_category".

And it seem to work. It goes like this:

Do you fix it by install scvi-tools by pip?

[2022-06-29 23:00] #38 closed

[2022-06-30 07:08] LuckyMD commented on #41
This is a great discussion thread! @littleju714 would you be up for creating a small PR with the fix?

@mumichae we might need to change the scvi install in the env files if the pip install works better. Maybe the version in conda-forge is not maintained? Would be good to check with @agayoso.

[2022-06-30 08:12] cdiaz45 commented on #41
Hello, I tried with pip, but it takes me in a rabbit hall of conflicts with other packages and with tensorflow so I couldn't get it working in the end. Maybe if I change the "unknown_category" to "unlabeled_category"? Will try that. Thank you again.

[2022-06-30 19:36] littleju714 commented on #41
I think I revise the scib package, not the scib-pipeline.

And as for the GLIBCXX_3.4.30 error, I fixed it by doing this:
`conda install libgcc`
And if it doesn't work for you, you can try to find the location of lib and put it in the path:
`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/home/user/miniconda3/lib/`

And then another error occured:  libffi.so.7: cannot open shared object file: No such fil

[2022-07-01 07:03] cdiaz45 commented on #41
Thank you, will try that and also isolating in a separate env as it has been suggested.

[2022-07-02 09:54] stemangiola opened #42 "Providing custom variable gene to the full pipeline"
Hello, I would like to know if there is a way with the current setup to provide custom variable jeans to all algorithms.

Thanks a lot

[2022-07-02 16:28] adamgayoso commented on #41
Related: https://github.com/theislab/scib/issues/324

[2022-07-04 10:35] LuckyMD commented on #38
I assume this might have to do with the pre-compiled knn graph function we use. Possibly the pre-compiled version works on this machine, but not the last one.

[2022-07-04 16:37] yuxiaokang-source opened #43 "mouse brain dataset is not available?"
It's a wonderful work, I have found all datasets but mouse brain dataset on https://figshare.com/articles/dataset/Benchmarking_atlas-level_data_integration_in_single-cell_genomics_-_integration_task_datasets_Immune_and_pancreas_/12420968?
Could you provide the mouse brain dataset? Thank you very much

[2022-07-04 21:57] LuckyMD commented on #43
Hi @yuxiaokang-source,

That's a very good point. I have tried to upload the mouse brain dataset several times, but it's so large that the upload is often timed out and then fails. I will try again in the next days.

[2022-07-05 13:22] LuckyMD commented on #42
Hi @stemangiola,

We haven't set up the pipeline to be able to do that. What you could however do is fork the `scib` repository and then edit the `hvg_batch` function to always output a pre-defined gene list, see:
https://github.com/theislab/scib/blob/ad40b62d4c8b3a5712ef2bc46853588a2b8cf149/scib/preprocessing.py#L465

Hope that helps!

[2022-07-08 04:49] littleju714 opened #44 "error running pipeline"
Hi! Thanks again for your excellent work!

I am running pipeline on my data, it has 4 study about myeloid cells from different labs. And their celltype are labeled based on different methods. For example, one study has celltype all as "myeloid cells", one as " TYPE1, TYPE2, TYPE3", one as" TAM1(PD-L1),TAM2".

I have get rid of "scanvi" and "scgen" methods in my config since they use celltype. But

[2022-07-13 06:58] littleju714 commented on #44
I know how to fix the error 1:
https://github.com/chriscainx/mnnpy/issues/30
I need to make the numba=0.45.0 and llvmlite 0.30.0, but it may be incompatible with others. So I give up mnn.

[2022-07-18 04:51] littleju714 commented on #44
I have updated the metrics.py from the scib in github. And the error becomes:

[code]
But I don't know how to fix it.

[2022-10-14 13:53] AlinaKurjan opened #46 "scvi and other issues?"
Hi all, thank you for your wonderful work, I am really keen to apply it for my own analysis. Did a fresh install of the pipeline today and had success running it with test data and the small test config pipeline, but unfortunately running into a few issues with my own data.

**First error** concerns the scvi.module not being installed and I am not entirely sure how to install it as I get dependenc

[2022-10-14 14:15] LuckyMD commented on #46
Hi @AlinaKurjan,

This looks like an issue with saving HVGs to a separate file for a Seurat run rather than anything to do with scvi or scvi-tools. The issue is being caused by the conversion from anndata to SCE via rpy2. You should be getting the same issue if you start a python session in the conda environment you installed and just do the following:

[code]

If the test data runs through fully

[2022-10-14 15:04] AlinaKurjan commented on #46
Hi Malte, thank you for a quick reply!

1) I did get the scvi.modules error, it was just self-explanatory so I didn't include the code for it, apologies for confusion. Here:

[code]
If I try installing it specifically with pip:
[code]
Any tips for this?

I'll have a look at your suggestions for the rest and get back shortly.

[2022-10-14 15:58] AlinaKurjan commented on #46
Seems like converting the formats resolves the second error, however the pipeline still fails due to the `scvi.model` not being installed (see above). Could you please advise on the best course of action in this case? Does it mean that the scvi package installation is incomplete?

Thank you for your help!

[2022-10-14 16:03] mumichae commented on #46
Hi @AlinaKurjan, I'm currently looking into this in #45. Do to an update in scvi to scvi-tools the imports have changed. I'll let you know when the issue is resolved

[2022-10-14 16:30] LuckyMD commented on #46
On another note... Forgive that I googled you briefly, @AlinaKurjan... but I see you're working on tendon. Are you already building an integrated tendon atlas? or is your use of scib more for sample-level integration? It would be super cool to see an integrated reference atlas also for more difficult tissues to study, like tendon.

[2022-10-14 17:09] mumichae commented on #44
Hi, it seems like you might not be getting any values for the batch silhouette (batch ASW) score. Could you check what the result of the metric is on the integrated output that is causing the error?

[code]
If `return_all` is True, you will get a Dataframe instead of an overall metric. I'm guessing it is empty in your case.

If 'X_emb' is not available, try computing and using the PCA instead

[co

[2022-10-14 17:10] #42 closed

[2022-10-14 17:16] mumichae commented on #41
There have been some updates in dependencies recently. I will close this thread for now. Please open up a new issues for any problems that still persist

[2022-10-14 17:16] #41 closed

[2022-10-14 17:19] mumichae commented on #40
According to the following [thread](https://stackoverflow.com/questions/66410780/unable-to-run-an-interactive-shell-script-using-conda-run), this error is likely related to an older conda version

[2022-10-15 18:25] AlinaKurjan commented on #46
@LuckyMD As a group, we are indeed exploring our options for building an integrated atlas that would span different tendon types, ages, and health states. I am personally working with human developing tendons, which adds a whole other layer of complexity, and unfortunately the more I try to figure out the best way to process and integrate my data, the more questions I am left with. That is also wh

[2022-10-16 10:07] mumichae commented on #46
The pipeline should now be updated to use the newest scvi-tools version. You can update your environments as follows (assuming you have `mamba` installed, otherwise feel free to replace `mamba` with `conda`):

[code]

[2022-10-16 15:51] mumichae commented on #44
I changed the code so that you get NaN if the dataframe is empty. Feel free to update scib and rerun the pipeline.

[2022-10-16 15:51] #44 closed

[2022-10-17 09:00] LuckyMD commented on #46
@AlinaKurjan I'd be happy to have a chat about tendon integration if you like. We are just looking to build and write up some guidelines for tissue integration, which may help... but there are always tissue-specific challenges.

Hope scVI and scANVI can now also be compared.

[2022-10-18 08:30] AlinaKurjan commented on #46
@LuckyMD @mumichae Thank you for your help so far, I've run the scvi and scanvi now with no issues. One final note is that I did not get any readouts for trajectory with any methods. What could be the reason here?

[2022-10-18 08:56] mumichae opened #47 "No trajectory output"
@LuckyMD @mumichae Thank you for your help so far, I've run the scvi and scanvi now with no issues. One final note is that I did not get any readouts for trajectory with any methods. What could be the reason here?

_Originally posted by @AlinaKurjan in https://github.com/theislab/scib-pipeline/issues/46#issuecomment-1282009252_

[2022-10-18 09:00] mumichae commented on #47
The trajectory score is only computed on cells that are assigned a DPT ordering, which needs to be computed beforehand on the cells of interest. Make sure that the DPT values are saved under .obs["dpt"] for the pipeline

[2022-10-18 09:06] AlinaKurjan commented on #47
thank you! will try

[2022-10-18 09:06] #46 closed

[2022-10-18 09:21] LuckyMD commented on #46
Trajectory requires you to manually annotate (using e.g., sc.tl.dpt) a trajectory per batch that you'd like to check for conservation in the integrated object. If you'd like to do this, you can store the trajectory in a designated `adata.obs` column. I'd need to check the column name again though.

[2022-10-18 10:41] AlinaKurjan commented on #46
Thank you! @mumichae mentioned it needs to be  saved as .obs["dpt"]. I'll give that a go. The results are really interesting already, looks like scVI and scANVI are most fitting for my data too :)

[2022-10-28 10:10] AlinaKurjan opened #48 "Error in `[[<-`(`*tmp*`, assay, value = assay.data) : [[<- defined for objects of type "S4" only for subclasses of environment"
Hello again!

Getting the following issue running Seurat and Harmony methods:

[code]

Example errors:
[code]

Any thoughts on what could be causing it?

[2022-10-28 10:20] AlinaKurjan commented on #48
If that helps, the issue started occurring after I've implemented a few R packages for QC, namely DropletUtils::emptyDrops & scDblFinder. Could it be an issue with h5ad -> R -> anndata (my workflow) -> R (your pipeline) conversion?

[2022-10-28 13:20] LuckyMD commented on #48
Do you have the error from the slurm job log you were running? This looks like the snakemake log only.

[2022-10-28 17:10] AlinaKurjan commented on #48
That's the only error explanation I get as far as I can see:

[code]

[2022-10-31 12:01] LuckyMD commented on #48
The error suggests that you have a non S4 object which you're trying to dimensionality-reduce. I haven't come across this before.

And based on the snippets that you show this comes up for harmony, fastmnn, and Seurat?

[2022-10-31 14:10] AlinaKurjan commented on #48
It is consistent across all R methods. Running your code:

`AttributeError: module 'scanpy' has no attribute 'load'`
if I load adata with sc.read_h5ad instead then it seems to work fine...

My package versions in the scib-pipeline-R4.0:
[code]
Scanpy:
`scanpy     1.9.1`

Any ideas?
__________________________________________________________________

Had a look at my conversions from anndata to sce

[2022-10-31 17:28] LuckyMD commented on #48
Hah, yes... ofc. I don't know where my head was... `sc.read()` I meant.

[2022-10-31 17:35] LuckyMD commented on #48
So this can't have been the result of the scvi-tools update... i reckon it probably has something to do with the conversion or saving of data objects in R. I'm not 100% sure about the explicit conversion of data matrix formats. Specifically the `csr_matrix(sc.pp.log1p(scran))` command at the end... but if you did this and it converted to SCE well, then this shouldn't be the case.

The `uint` conve

[2022-11-08 10:52] ccruizm opened #49 "Pipeline can not find data in adata.obs"
Good day,

I have been trying to run the pipeline with my own data but have failed so far. I used the test file, and the pipeline works and runs with no issues. However, once I input my data I get the error below:
[code]

I really do not understand why it does not find the batch key when it is in the object. My Anndata object is a downsampled version for testing, which I created using `sc.pp.subsa

[2022-11-08 11:31] LuckyMD commented on #49
Hey!
I would guess that your config file doesn't match the dataset setup. Could you share your config file?

[2022-11-08 11:42] ccruizm commented on #49
Sure! forgot to include it. Here it is
[test_data-R4.0..zip](https://github.com/theislab/scib-pipeline/files/9960732/test_data-R4.0.zip)

[2022-11-08 12:39] LuckyMD commented on #49
I can't seem to see the issue from your data. Could you show the snakemake command you are using? Could it be that you are not specifying the right config file with the `--configfile` parameter?

[2022-11-08 12:45] ccruizm commented on #49
I am quite puzzled. I have spend quite sometime trying to figure out where the problem could be. Initially I thought it was a problem with my Anndata object (which in the end tried to make it as close as possible as the test file) but still have not been able to make it work.

I have used `snakemake --configfile configs/test_data-R4.0.yaml --cores 24` and also `snakemake --configfile configs/test_

[2022-11-08 13:20] LuckyMD commented on #49
Maybe you can directly run the command that's failing:
[code]

[2022-11-08 13:43] ccruizm commented on #49
I get the same error
[code]
Do not get why it does not find it :(

[2022-11-08 13:57] mumichae commented on #49
Could you maybe double-check that the bath column is in the object? I couldn't reproduce the error on the data that you shared here

[code]

[2022-11-08 14:17] ccruizm commented on #49
I found the mistake! so sorry. I was reading an older version of the file that did not have that metadata name! my apologies!

Now I notice I am getting this error:
[code]

I noticed the test file contains an array in adata.X instead of a spare matrix. I guess I need also to store my matrix as array to avoid this error? (`adata.X = adata.X.toarray()`)

In addition, could you advise me on how to su

[2022-11-08 14:35] mumichae opened #50 "Error using sparse matrix"
Now I notice I am getting this error:
[code]

I noticed the test file contains an array in adata.X instead of a spare matrix. I guess I need also to store my matrix as array to avoid this error? (`adata.X = adata.X.toarray()`)

_Originally posted by @ccruizm in https://github.com/theislab/scib-pipeline/issues/49#issuecomment-1307293309_

[2022-11-08 14:36] mumichae commented on #50
Yes, it seems some of the metrics were only developed on dense matrices. I'd need to update that in `scib`

[2022-11-08 14:37] mumichae opened #51 "Submitting SLURM jobs"
[...] Could you advise me on how to submit a SLURM job with the pipeline, please? I have tried, but it does not read the lib installed in the conda envs.

_Originally posted by @ccruizm in https://github.com/theislab/scib-pipeline/issues/49#issuecomment-1307293309_

[2022-11-08 14:41] mumichae commented on #51
Currently the pipeline doesn't support the Snakemake feature of submitting SLURM jobs (at least that is not tested). The only thing that should work is calling the pipeline from an interactive SLURM run

[2022-11-08 14:41] #49 closed

[2022-11-08 14:42] mumichae commented on #43
Is this resolved?

[2022-11-08 14:44] LuckyMD commented on #51
@mumichae we do usually run the pipeline from a submit node and submit slurm jobs via snakemake. Maybe @danielStrobl can say a word or two what command he runs there (when he's back from Australia).

[2022-11-08 14:45] LuckyMD commented on #43
no, :/... do you want to try to upload to figshare @mumichae ?